- if @supporter
  .row
    .col-md-4.col-md-offset-4
      %p= "Dear #{@supporter}"
      %p In order to view this message we need to first confirm your identity. Please click below to receive a code via text.
    .col-md-4.col-md-offset-4
      .text-center
        .row
          =button_to "Text Me!", send_code_path, params: {phone_method: 'sms'}, method: 'POST', class: 'btn btn-primary', token: @token
        .row
          =button_to "Call Me!", send_code_path, params: {phone_method: 'phone'}, method: 'POST', class: 'btn btn-success', token: @token