@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Lobster);

h1, h2, h3 {
    font-family: 'Lobster';
}

h4, h5, h6, p, div {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-default .navbar-brand {
  color: #333;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Lobster';
}

.step-container {
  font-family: 'Lobster';
}

.step {
  font-family: 'Lobster';
}

.lobster {
  font-family: 'Lobster';
}

.navbar-default .navbar-brand {
  text-decoration: none;
  color: #555;
}

.red {
  color: red;
}

.container {
  min-height: 100%;
}

.fill-height {
  min-height: 100%;
}

.img-med {
  width: 100px;
  height: 100px;
}

.alert {
  margin: 5px;
}

.btn {
  margin: 3px;
}

.vcenter {
  vertical-align: middle;
}

.bg-blue {
  background: #ddd;
  border-radius: 15px;
}

.blue {
  color: #5ac;
}