.navbar-default .navbar-brand a {
  color: #333;
  font-size: 30px;
  font-weight: bold;
}

.navbar-default .navbar-brand a:hover {
  text-decoration: none;
  color: #555;
}

.red {
  color: red;
}

.container {
  min-height: 100%;
}

.fill-height {
  min-height: 100%;
}

.img-med {
  width: 100px;
  height: 100px;
}