.navbar-default .navbar-brand {
  color: #333;
  font-size: 30px;
  font-weight: bold;
}

.navbar-default .navbar-brand {
  text-decoration: none;
  color: #555;
}

.red {
  color: red;
}

.container {
  min-height: 100%;
}

.fill-height {
  min-height: 100%;
}

.img-med {
  width: 100px;
  height: 100px;
}

.alert {
  margin: 5px;
}

.btn {
  margin: 3px;
}

.vcenter {
  vertical-align: middle;
}