-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      =link_to root_path do
        .navbar-brand 
          MailSafe
          %sup.blue &alpha;