%li
  = link_to letters_path do
    %span.glyphicon.glyphicon-envelope
    Letters
%li
  = link_to supporters_path do
    %span.glyphicon.glyphicon-user
    Supporters
%li
  = link_to new_letter_path do
    %span.glyphicon.glyphicon-plus
    Compose Letter